.calendar_date_select {
    border: 1px solid #777777;
    color: white;
    display: block;
    width: 195px;
    z-index: 1000;
}
iframe.ie6_blocker {
    position: absolute;
    z-index: 999;
}
.calendar_date_select thead th {
    background-color: #AAAAAA;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    color: white !important;
    font-weight: bold;
}
.calendar_date_select .cds_buttons {
    background-color: #555555;
    padding: 5px 0;
    text-align: center;
}
.calendar_date_select .cds_footer {
    background-color: black;
    font-size: 12px;
    padding: 3px;
    text-align: center;
}
.calendar_date_select table {
    margin: 0;
    padding: 0;
}
.calendar_date_select .cds_header {
    background-color: #CCCCCC;
    border-bottom: 2px solid #AAAAAA;
    text-align: center;
}
.calendar_date_select .cds_header span {
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.calendar_date_select select {
    font-size: 11px;
}
.calendar_date_select .cds_header a:hover {
    color: white;
}
.calendar_date_select .cds_header a {
    color: black !important;
    font-size: 14px;
    height: 20px;
    text-decoration: none;
    width: 22px;
}
.calendar_date_select .cds_header a.prev {
    float: left;
}
.calendar_date_select .cds_header a.next {
    float: right;
}
.calendar_date_select .cds_header a.close {
    display: none;
    float: right;
}
.calendar_date_select .cds_header select.month {
    width: 90px;
}
.calendar_date_select .cds_header select.year {
    width: 61px;
}
.calendar_date_select .cds_buttons a {
    color: white;
    font-size: 9px;
}
.calendar_date_select td {
    background-color: #FFFFFF;
    font-size: 12px;
    height: 21px;
    text-align: center;
    vertical-align: middle;
    width: 24px;
}
.calendar_date_select td.weekend {
    background-color: #EEEEEE;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}
.calendar_date_select td div {
    color: #000000;
}
.calendar_date_select td div.other {
    color: #CCCCCC;
}
.calendar_date_select td.selected div {
    color: white;
}
.calendar_date_select tbody td {
    border-bottom: 1px solid #DDDDDD;
}
.calendar_date_select td.selected {
    background-color: #777777;
}
.calendar_date_select td:hover {
    background-color: #CCCCCC;
}
.calendar_date_select td.today {
    border: 1px dashed #999999;
}
.calendar_date_select td.disabled div {
    color: #E6E6E6;
}
.fieldWithErrors .calendar_date_select {
    border: 2px solid red;
}
