div#register_info{
    width:30%;
}

div#register_form{
    width:100%;
}

div#register_form h2{
    clear:none;
}

div#register_form h3, div#login_form h3{
    margin-bottom:10px;
    padding:5px;
}

div#register_form fieldset{
}

div#register_form p.extra{
    line-height:150%;
    padding:15px;
}

div#register_form .field.nodesc{
    clear:both;
    padding-bottom:26px;
}

div#register_form label{
    clear:both;
    float:left;
    padding-right:15px;
    text-align:center;
    width:200px;
}

div#register_form .checkbox label, div#register_form .field.radio input{
    clear:none;
    float:none;
    text-align:center;
    width:auto;
}

div#register_form .checkbox input{
    clear:both;
    margin-left:245px;
}

div#register_form input{
    float:left;
    position:relative;
}

div#register_form fieldset.submit input{
    float:none;
}

div#register_form input.input_text{
    padding-bottom:2px;
}

div#register_form hr, div#login_form hr{
    -moz-border-bottom-colors:none;
    -moz-border-image:none;
    -moz-border-left-colors:none;
    -moz-border-right-colors:none;
    -moz-border-top-colors:none;
    border-color:#EBEBEB;
    border-style:solid;
    border-width:1px 0 0;
    clear:both;
    display:block;
    margin:10px auto;
    width:100%;
}

div#register_form span.desc{
    clear:both;
    display:block;
    margin-left:215px;
}

.reg_msg{
    border-radius:4px 4px 4px 4px;
    color:#FFFFFF;
    font-size:0.8em;
    font-weight:bold;
    padding:3px 8px;
    position:absolute;
}

.reg_msg img{
    display:none;
}

.reg_msg.reg_error{
    background-color:#AD2930;
}

.reg_msg.reg_accept{
    background-color:#6F8F52;
}

div#login_form{
    margin:0 auto 25px;
}

div#member_login{
    width:100%;
}

div#guest_register{
    width:30%;
}

div#member_login form{
    margin:0 0 0 0;
}

div#login_form h3{
}

div#member_login .extra{
    float:right;
    font-size:0.8em;
    margin-right:10px;
    padding:5px;
}

input#openid{
    margin-top:-2px;
    padding:3px 3px 3px 20px;
}

#regular_signin, #openid_signin{
    height:165px;
}

#signin_options{
    padding-left:30px;
}

#messenger_utilities{
    width:20%;
}

#messenger_content{
    width:80%;
}

#messenger_content h2{
    clear:none;
    font-size:1.4em;
}

#folder_list, #space_allowance, #message_search, #participants, #invite_more{
    margin-bottom:10px;
    position:relative;
}

#space_allowance p{
    line-height:150%;
}

#message_list{
    clear:right;
}

#message_compose .input_check{
    margin-left:245px;
}

#participants #participants_list li{
    clear:both;
    min-height:55px;
    padding:5px;
}

#participants #participants_list li .photo{
    float:left;
    margin:2px 10px 0 0;
}

#participants #participants_list span.name.left_convo a{
    color:#8A8A8A;
    font-style:italic;
}

#participants #participants_list span.name.blocked a{
    color:#AD2930;
}

#space_allowance{
    clear:both;
}

.f_delete{
    color:#FF0000;
}

.col_m_subject{
    width:40%;
}
