#header-top, .modal-window > h4, #scenes li > a, #header-bar, ul.header-nav > li.active > a, ul.header-nav > li.active > a:hover, .article-author-menu:hover > a, ul.header-nav > li > a > span, .article-author-menu > a > span.article-author-menu-arrow, .resources-icon, .usermenu-icon, .social-icon, #nav-style, #header-search, #header-search input, #header-search button, #footer, #promo-wrapper, #promo-wrapper ol > li > a > span.promo-title, #scenes > li > a > span.promo-title, .promo-nav, #filter, #filter-rss, a.post-comments .icon-comments, a#like-this .icon-like, #latest-refresh, #latest-community-bits .viewmore a, #latest-type, .sidebar-block h3, .quote-header, fieldset.buttons, .themed-bar, #ajax-spinner.spinner, #ajax_loading.spinner, .style-select, .menu > li > a:hover, .style-select li > span, ul.tabs > li > a > var, .post-tag, .poll-result, .style-select > span, a.tag span.delete-tag, .article-button-report, .comment-button-report, .comment-button-delete, .comment-button-edit, .subnav, body{
    background-image:url("/static/images/sprite.png");
}

body{
    background-color:#2E3D4E;
    color:#333333;
}

#header, .themed-bar{
    background-color:#1D2E43;
}

#header h1 a{
    background:url("/static/images/header_logo.png") no-repeat scroll 0 0 transparent !important;
}

#header-bar{
    color:#8695A9;
}

ul.header-nav > li > a{
    color:#8695A9;
}

ul.header-nav > li > a{
    color:rgba(255, 255, 255, 0.65);
}

ul.header-nav > li.active > a, ul.header-nav > li.active > a:hover{
    background-color:#DBE2EA;
    color:#4D5D72;
}

ul.header-nav > li.active > a:hover, ul.header-nav > li.active:hover > a{
    background-color:#FFFFFF;
    color:#4D5D72;
}

ul.header-nav > li > a:hover, ul.header-nav > li:hover > a{
    color:#FFFFFF;
}

#page-body{
    background-color:#DBE2EA;
}

#footer{
    color:#788698;
}

#footer h4{
    color:#FFFFFF;
}

#footer ul li a, #footer a{
    color:#A0ABBA;
}

#ajax_loading.spinner.spinner{
    background-color:#D9F0D9;
    border:1px solid #9DD59D;
    color:#2B832B;
}

#ajax_loading.spinner.spinner span{
    background:url("/static/images/spinner.gif") no-repeat scroll 0 0 transparent;
}

a, a:link, a:visited{
    color:#284B78;
}

a:hover{
    color:#2D7D2D;
}

.box{
    background-color:#FFFFFF;
}

div.hr{
    border-top:1px solid #DBE2EA;
}

.subnav{
    background-color:#ECEFF3;
    border:1px solid #B8C5D6;
}

.subnav .col{
    border-left:1px solid #DBE2EA;
}

.subnav .col > strong, .subnav .col > strong > a{
    color:#95A0AE;
}

.menu > li > a:hover{
    background-color:#1D2E43;
    color:#FFFFFF;
}

.menu + .menu{
    border-top:1px solid #DBE2EA;
}

.notice{
    background-color:#F1F6EC;
    border:1px solid #B0CE94;
    color:#3E4934;
}

.notice h3{
    color:#323232;
}

.notice.error{
    background-color:#F3DDDD;
    border:1px solid #DEB7B7;
    color:#281B1B;
}

.notice.unspecific{
    background-color:#F3F3F3;
    border:1px solid #D4D4D4;
    color:#515151;
}

.pagination{
    color:#788698;
}

ul.pages li a{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #DBE2EA;
}

ul.pages li a:hover{
    background:none repeat scroll 0 0 #EDF0F4;
}

ul.pages li a.disabled, ul.pages li a.disabled:hover{
    color:#B8C5D6;
}

ul.pages li.active a{
    color:#333333;
}

#promo-wrapper{
    background-color:#4D5D72;
}

#promo-wrapper ol > li > a{
    color:#FFFFFF;
}

#promo-wrapper ol > li > a:hover{
    color:#FFFFFF;
}

#filter-nav{
    color:#788698;
}

ul.tabs > li > a{
    background-color:rgba(255, 255, 255, 0);
}

ul.tabs > li > a:hover{
    background-color:rgba(255, 255, 255, 0.5);
}

ul.tabs > li.active > a{
    background-color:#FFFFFF;
}

ul.tabs > li > a > var{
    background-color:#B8C5D6;
    color:#FFFFFF;
}

#filter{
    background-color:#ECEFF3;
    color:#4D5D72;
}

#news p.post-details{
    color:#788698;
}

.hot-news{
    color:red;
}

.sidebar-block{
    color:#4D5D72;
}

.sidebar-inner-block{
    background-color:#FFFFFF;
}

ul.sidebar-tabs > li > a{
    background-color:rgba(255, 255, 255, 0);
}

ul.sidebar-tabs > li > a:hover{
    background-color:#FFFFFF;
}

ul.sidebar-tabs > li.active > a{
    background-color:#FFFFFF;
}

#latest-community-bits .viewmore{
    border-top:1px solid #DBE2EA;
}

#poll-bits li ol li{
    color:#788698;
}

.poll-result{
    background-color:#788698;
}

.poll-vote, .poll-novote{
    border-top:1px solid #DBE2EA;
    color:#788698;
}

.sidebar-list li{
    border-bottom:1px solid #DBE2EA;
}

#article .article-details{
    border-right:1px solid #DBE2EA;
}

.article-author-menu > a, .article-author-menu:hover > a{
    background-color:#FFFFFF;
}

.article-author-menu > a:hover, .article-author-menu:hover > a:hover{
    background-color:#DBE2EA;
}

.article-date{
    color:#788698;
}

#tag-bar h5{
    color:#788698;
}

.gallery{
    background-color:#ECEFF3;
}

.gallery-thumbs a, .img-thumb{
    background-color:#FFFFFF;
    border:1px solid #DBE2EA;
}

#comments-bar{
    color:#4D5D72;
}

#comments ol li, #comments-add{
    background-color:#FFFFFF;
    border:1px solid #CAD4E1;
}

#comments ol li.child{
    background-color:#ECEFF3;
}

#comments-add{
    background-color:#ECEFF3;
}

.comment-textarea{
    background:none repeat scroll 0 0 #FFFFFF;
    border:1px solid #B8C5D6;
}

.comment-note, .comment-edit-reason{
    color:#788698;
}

.quote{
    background:none repeat scroll 0 0 #FFFFFF;
    border-color:#B8C5D6;
}

.quote-header{
    background-color:#DBE2EA;
    color:#4D5D72;
}

.popupInner{
    color:#333333;
}

.post_controls a, .button, .input_submit, .no-button{
    color:#1D2E43;
}

.button.blue, .post_controls li.selected a, .multiquote.selected .button, .manage-toolbar li.active a, .heading, .bar.dark a:hover, .bar.dark2 a:hover, .maintitle a:hover, .filter_bar a, .popupWrapper, .tab_bar li.active a, .tab_filters li.active a, #usercp_menu li.active, #usercp_menu li.active a{
    color:#FFFFFF !important;
}

.topic_prefix, .post-tag, a.post-tag, .line span.time, .comment-edit-reason, #board_statistics .desc, #stats .extra, .author-info ul.user_fields li, p.edit, li.field .desc, .signature, .button.disabled, #breadcrumb{
    color:#768796;
}

.post-button, a.post-button, .quote, fieldset legend, label, div.block h3, th, .desc, .descsm, .header th, .subheading th, .general_box h3, #usercp_content h3, .bar, #board_statistics, .statistics, .post-top, .post_block h3, .forum_rules{
    color:#4C5F71;
}

.queued, .queued a, .moderated, .moderated a{
    color:#6F3642;
}

.bar.dark, .bar.dark a, .maintitle, .maintitle a, .bar.dark2, .bar.dark2 a, .filter_bar, .filter_bar label{
    color:#DBE3EA;
}

.button.blue:hover, .page-overlay, .manage-toolbar li.active a, .bar.dark2, .tab_bar li.active a{
    background-color:#4C5F71;
}

.button.blue, .multiquote.selected .button, .post_controls li.selected a, .heading, .bar.dark, .maintitle{
    background-color:#1D2E43;
}

.popup-menu, .popup-menu.ipbmenu_content, .post-top, .post_block h3, .user-status.online, ul.post_controls, div.post_controls, .post-buttons, .rep_bar{
    background-color:#DBE3EA !important;
}

.popup-menu ul li a:hover, .sub-nav ul li.active a, #main, .quote, .gallery-thumbs a, .img-thumb, .general_box, #help-topics .openedText, .ipbmenu_content, .popupInner, .progress_bar, .poll{
    background-color:#FFFFFF;
}

.topic_prefix, .post-tag, .post-button:hover, ul.pages li a:hover, .poll-vote, .poll-novote, .detail-bar, .gallery, .gallery-thumbs a:hover, .img-thumb:hover, .quote-header, fieldset legend, .post_block.row2, .line{
    background-color:#EDF1F4;
}

a.input_submit:active, a.button:active, span.button:active, button.button:active, input.button:active, .post-button:active, a.post-tag:active, .poll-result, div.block h3, .manage-toolbar, .block-forum, .border, .subheading th, .bar, .general_box h3, #usercp_content h3, .tfoot, .moderation_bar, .tfoot2, fieldset.submit, body fieldset.submit, body p.submit, .tab_bar, .reputation.zero, .header th{
    background-color:#B6C6D4;
}

.sub-nav ul li var{
    background-color:#91A9BF;
}

#div-steve{
    background-color:#637483;
}

.input_submit, .button, .no-button, .post-tag:hover, th{
    background-color:#DAE2EA;
}

.input_submit:hover, .button:hover{
    background-color:#E3E9EF;
}

.error{
    background-color:#FFD9D9;
    border-color:#E7C4C4;
}

.row1, #statusHook .status_main_wrap.row1, #main_search_form #other_filters, #main_search_form .extra_filter fieldset, #main_search_form #main_search, .post_block, .post_block.row1, .postrow1, input[type="text"]:focus, input[type="password"]:focus, textarea:focus{
    background-color:#F6F8FA;
}

#board_statistics, .statistics, .row2, #statusHook .status_main_wrap.row2, .forum_rules{
    background-color:#E4EAEF;
}

.postrow2{
    background-color:#EDF1F5;
}

.pinned, .pinned td{
    background-color:#FAFAEB !important;
}

.row2.pinned, .row2.pinned td{
    background-color:#F7F7E0 !important;
}

.moderated{
    background-color:#F2E4E7 !important;
}

.filter_bar, .post-sep, #usercp_menu li.active{
    background-color:#768796 !important;
}

.popup-menu, .poll-vote, .poll-novote, .quote, .general_box, .sub-nav ul li.active a, .sub-nav ul li a:hover, #comments li, #comments-add, .comment-avatar, .button, .input_submit, .post_controls a, .button var, .no-button, .no-button var, .post-tag:hover, .post-button:hover, .gallery, .gallery-thumbs a, .img-thumb, div.block, .messenger-input, table, th, #tag-editor, .block-forum, .border, #stats, #stats dt, #stats dd, .stats_list, #forum_legend dt, #forum_legend dd, #help-topics .help-doc, .ipbmenu_content, .userpopup dl, .poll{
    border-color:#B6C6D4;
}

.button.blue, .multiquote.selected .button, .post_controls li.selected a{
    border-color:#1D2E43;
}

.topic_prefix, .post-tag, ul.mini_pagination li a, fieldset, fieldset legend, input[type="text"], input[type="password"], input[type="file"], textarea, td, .author-info{
    border-color:#DBE3EA;
}

.post-button{
    border-color:#FFFFFF;
}

.button.blue:hover{
    border-color:#4C5F71;
}

#usercp_menu{
    border-color:#768796;
}

.button.red{
    background-color:#ECDDDD !important;
    border:1px solid #D8BABA !important;
    color:#333333 !important;
}

.button.gray{
    background-color:#E6E6E6 !important;
    border:1px solid #AAAAAA !important;
    color:#333333 !important;
}

.topic_buttons li a{
    background-color:#1D2E43;
    border:1px solid #1D2E43;
}

.topic_buttons li a:hover{
    background-color:#516475;
    border:1px solid #4C5F71;
}

.topic_buttons li.disabled a, .topic_buttons li.disabled span{
    background-color:#96A3AF;
    border-color:#93A1AD;
    color:#EDF1F5;
}

.topic_buttons li.closed span, .topic_buttons li.closed a{
    background-color:#9F3737;
    border-color:#953232;
}

.input_text{
    border-color:#B6C6D4;
}

#main_search_form #main_search{
    border-bottom:1px solid #D5DDE5;
}

#main_search_form .search_app.active{
    background:none repeat scroll 0 0 #E4EAEF;
    border:1px solid #D5DDE5;
}

.user_status{
    background:none repeat scroll 0 0 #DBE3EA;
}

ol.subforums li{
    background-image:url("/static/images/subforum_read.png") !important;
}

ol.subforums li.newposts{
    background-image:url("/static/images/subforum_unread.png") !important;
}

.fav_forum_icon{
    background-image:url("/static/images/sprite_fav.png") !important;
}
