#main_search_form{
    overflow:hidden;
}

#main_search_form #main_search{
    font-size:13px;
    margin-bottom:10px;
}

#main_search_form #main_search label{
    margin-top:6px;
}

#query{
    margin-bottom:4px;
    padding:5px !important;
}

#main_search_form #main_search label{
    width:230px;
}

#main_search_form #main_search .desc{
    font-size:11px;
    margin-left:245px;
}

#main_search_form #main_search .input_text{
    width:550px;
}

#main_search_form fieldset{
    overflow:hidden;
    padding:10px;
}

#main_search_form #other_filters, #main_search_form .extra_filter fieldset{
    border-radius:3px 3px 3px 3px;
    margin:0 10px 10px;
}

#main_search_form fieldset > ul > li{
    padding:10px 0;
}

#main_search_form fieldset li.no_label{
    font-size:13px;
    padding:4px 0 10px 235px;
}

#main_search_form fieldset > ul > li > label{
    display:inline-block;
    padding-right:10px;
    text-align:right;
    vertical-align:top;
    width:220px;
}

#main_search_form fieldset .input_text{
    border:1px solid #B6B6B6;
    font-size:15px;
    padding:2px;
}

#main_search_form fieldset .input{
    width:400px;
}

#main_search_form fieldset .input_text.date{
    padding-right:25px;
    width:158px;
}

#main_search_form #date_start_icon, #main_search_form #date_end_icon{
    margin-left:-20px;
}

#main_search_form .search_app{
    border:1px solid transparent;
    cursor:pointer;
    display:inline-block;
    font-size:12px;
    font-weight:bold;
    margin-right:4px;
    padding:8px 10px;
}

#main_search_form .search_app.active{
    border-radius:3px 3px 3px 3px;
}

#main_search_form .app_chooser > ul{
    margin-left:230px;
    margin-top:-5px;
}

#main_search_form .search_msg{
    border-bottom:1px solid #F0F0F0;
    color:#5C5C5C;
    display:block;
    font-size:12px;
    margin-bottom:15px;
    padding:0 0 5px 230px;
}

div#search_results{
    border-bottom:4px solid #D5DDE5;
    margin-bottom:8px;
}

div#search_results span.icon{
    float:left;
    margin-right:15px;
}

div#search_results div.result_info{
    float:left;
    width:60%;
}

div#search_results div.result_info span.desc.breadcrumb a{
    color:#A9A9A9;
}

div#search_results h3{
    background:none repeat scroll 0 0 transparent;
    border:0 none;
    font-size:1.3em;
    font-weight:normal;
    padding:0;
}

div#search_results li{
    border-top:1px solid #FFFFFF;
    padding:10px 15px 15px;
}

div#search_results p{
    color:#606060;
    margin:4px 0 2px;
}

div#search_results .result_details{
    border-left:1px solid #B5C0CF;
    float:right;
    font-size:11px;
    line-height:130%;
    padding-left:15px;
    width:30%;
}

div#search_results .result_details li{
    border:0 none;
    padding:0;
}

div#search_results .gutter{
    background-color:#528F6C;
    color:#FFFFFF;
    display:none;
    float:left;
    font-size:9px;
    font-weight:bold;
    margin-right:15px;
    margin-top:0;
    padding:3px 8px 2px;
    text-transform:uppercase;
}

div#search_results .gutter img{
    padding-right:4px;
}

div#search_results .sub div.result_info{
    padding-left:3%;
}

div#search_results .sub .gutter{
    background-color:#DEDEDE;
    color:#1D3652;
    margin-left:45px;
    padding:6px 8px 5px;
}

div#search_results ol ol{
    margin:0 0 -15px 20px;
    padding:20px 0 0 15px;
}

.tab_filters ul{
    padding-top:5px;
}

.tab_filters ul.padded{
    padding-top:10px;
}

.maintitle.links, .maintitle a{
    font-size:12px;
    text-decoration:none;
}

.entry-content.search{
}

.col_f_icon{
    width:1%;
}

.col_f_topic{
    width:39%;
}

.col_f_starter{
    width:10%;
}

.col_f_views{
    width:5%;
}

.col_f_post{
    width:15%;
}
