#mlist_tabs {
    margin-top: 35px;
}
#mlist_tabs li {
    text-align: center;
}
#mlist_tabs li a {
    padding: 5px 8px;
}
div#member_filters {
    margin-bottom: 15px;
    margin-top: 10px;
}
div#member_filters fieldset.other_filters {
    clear: both;
    margin-top: 10px;
    padding: 6px;
    text-align: center;
}
div#member_filters fieldset.submit {
    background: none repeat scroll 0 0 #D5DDE5;
    padding: 6px;
}
div#member_filters ul {
    float: left;
    margin-bottom: 12px;
    margin-top: 8px;
    width: 49%;
}
div#member_filters li {
    border-bottom: 1px solid #D5DDE5;
    clear: both;
    margin-right: 20px;
    padding: 8px 0;
}
div#member_filters li .desc {
    display: inline;
    margin: 0;
}
div#member_filters label {
    display: block;
    float: left;
    margin-right: 15px;
    text-align: right;
    width: 150px;
}
div#member_filters li.field.custom input[type="text"], div#member_filters li.field.custom textarea {
    width: 50%;
}
div#member_filters li.field.custom .input_check {
    width: 5%;
}
