#lightbox {
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 16000 !important;
}
#lightbox img {
    height: auto;
    width: auto;
}
#lightbox a img {
    border: medium none;
}
#outerImageContainer {
    background-color: #FFFFFF;
    height: 250px;
    margin: 0 auto;
    position: relative;
    width: 250px;
}
#imageContainer {
    padding: 10px;
}
#loading {
    height: 25%;
    left: 0;
    line-height: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;
}
#hoverNav {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}
#imageContainer > #hoverNav {
    left: 0;
}
#hoverNav a {
    outline: medium none;
}
#prevLink, #nextLink {
    background-image: url("../images/spacer.gif");
    display: block;
    height: 100%;
    width: 49%;
}
#prevLink {
    float: left;
    left: 0;
}
#nextLink {
    float: right;
    right: 0;
}
#prevLink:hover, #prevLink:visited:hover {
    background: url("../images/prevlabel.gif") no-repeat scroll left 15% transparent;
}
#nextLink:hover, #nextLink:visited:hover {
    background: url("../images/nextlabel.gif") no-repeat scroll right 15% transparent;
}
#imageDataContainer {
    background-color: #FFFFFF;
    font: 10px/1.4em Verdana,Helvetica,sans-serif;
    margin: 0 auto;
    overflow: auto;
    width: 100%;
}
#imageData {
    color: #666666;
    padding: 0 10px;
}
#imageData #imageDetails {
    float: left;
    text-align: left;
    width: 70%;
}
#imageData #caption {
    font-weight: bold;
}
#imageData #numberDisplay {
    clear: left;
    display: block;
    padding-bottom: 1em;
}
#imageData #bottomNavClose {
    float: right;
    outline: medium none;
    padding-bottom: 0.7em;
    width: 66px;
}
#overlay {
    background-color: #000000;
    height: 500px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 15000 !important;
}
strong.bbc {
    font-weight: bold !important;
}
em.bbc {
    font-style: italic !important;
}
span.bbc_underline {
    text-decoration: underline !important;
}
acronym.bbc {
    border-bottom: 1px dotted #000000;
}
span.bbc_center, div.bbc_center, p.bbc_center {
    display: block;
    text-align: center;
}
span.bbc_left, div.bbc_left, p.bbc_left {
    display: block;
    text-align: left;
}
span.bbc_right, div.bbc_right, p.bbc_right {
    display: block;
    text-align: right;
}
div.bbc_indent {
    margin-left: 50px;
}
del.bbc {
    text-decoration: line-through !important;
}
ul.bbc {
    list-style: disc outside none;
    margin: 12px 0 12px 40px;
}
ul.bbc ul.bbc {
    list-style-type: circle;
}
ul.bbc ul.bbc ul.bbc {
    list-style-type: square;
}
ul.bbcol.decimal {
    list-style-type: decimal;
    margin: 12px 0 12px 40px;
}
ul.bbcol.lower-alpha {
    list-style-type: lower-alpha;
    margin-left: 40px;
}
ul.bbcol.upper-alpha {
    list-style-type: upper-alpha;
    margin-left: 40px;
}
ul.bbcol.lower-roman {
    list-style-type: lower-roman;
    margin-left: 40px;
}
ul.bbcol.upper-roman {
    list-style-type: upper-roman;
    margin-left: 40px;
}
hr.bbc {
    border-top: 2px solid #777777;
    display: block;
}
div.bbc_spoiler {
}
div.bbc_spoiler span.spoiler_title {
    font-weight: bold;
}
div.bbc_spoiler_wrapper {
    border: 1px inset #777777;
    padding: 4px;
}
div.bbc_spoiler_content {
}
input.bbc_spoiler_show {
    font-size: 0.7em;
    margin: 0;
    padding: 0;
    width: 45px;
}
pre.prettyprint {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #C9C9C9;
    font-size: 11px;
    line-height: 140%;
    margin-left: 10px;
    overflow: auto;
    padding: 5px;
}
.post img.bbc_img {
    cursor: pointer;
}
p.citation {
    background: none repeat scroll 0 0 #E4E6E9;
    border-left: 2px solid #E4E6E9;
    border-right: 2px solid #E5E5E5;
    border-top: 2px solid #E5E5E5;
    font-size: 12px;
    font-weight: bold;
    padding: 8px 10px;
}
div.blockquote {
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 2px solid #E5E5E5;
    border-left: 2px solid #E4E6E9;
    border-right: 2px solid #E5E5E5;
    font-size: 12px;
    padding: 10px;
}
div.blockquote div.blockquote {
    margin: 0 10px 0 0;
}
div.blockquote p.citation {
    margin: 6px 10px 0 0;
}
._sharedMediaBbcode {
    background: -moz-linear-gradient(center top , #F6F6F6 0%, #E5E5E5 100%) repeat scroll 0 0 transparent;
    border: 1px solid #DBDBDB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #FFFFFF inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #616161;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 15px;
    padding: 15px;
    width: 500px;
}
.bbcode_mediaWrap .details {
    color: #616161;
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 1.5;
    margin-left: 30px;
}
.bbcode_mediaWrap .details a {
    color: #616161;
    text-decoration: none;
}
.bbcode_mediaWrap .details h5, .bbcode_mediaWrap .details h5 a {
    color: #2C2C2C;
    font: 400 20px/1.3 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.bbcode_mediaWrap img.sharedmedia_image {
    float: left;
    left: 10px;
    position: relative;
    top: 10px;
}
.bbcode_mediaWrap img.sharedmedia_screenshot {
    float: left;
    left: 10px;
    max-width: 80px;
    position: relative;
    top: 10px;
}
.cke_button_ipsmedia span.cke_label {
    display: inline !important;
}
sup {
    font-size: smaller;
    vertical-align: super;
}
sub {
    font-size: smaller;
    vertical-align: sub;
}
