span .admin {
    color:purple;
    font-weight:bold;
}

span .dev {
    color:#2C384D;
}

span .editor {
    color:#aa0000;
}

span .gmod {
    color:green;
}

span .member {
}

span .mod {
    color:#78B44B;
}

span .mvc {
    color:#323DD2;
}

span .sub {
    color:#FF8C00;
}

span .sub2 {
    color:#B67109;
}

span .super {
    color:#0E5011;
}

span .s-editor {
    color:#660000;
}

span .repoter {
    color:#ff0000;
}

span .vet {
    font-weight:bold;
}
